@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cairo';
  src: local('Cairo'), url('./assets/fonts/Cairo-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Plak';
  src: local('Neue Plak'), url('./assets/fonts/NeuePlak-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}